<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="js/bootstrap.jshttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>america eats</h1>
        <p>Dig in and find your favourite recipes.</p>
    </div>
    <p>{{name}}</p>
    <p>{{description}}</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">a</div>
    </div>
    <div class="row">
        <div class="col-md-12">b</div>
    </div>
    <div class="row">
        <div class="col-md-12">c</div>
    </div>
    <div class="row">
        <div class="col-md-12">d</div>
    </div>
    <div class="row">
        <div class="col-md-12">e</div>
    </div>
    <div class="row">
        <div class="col-md-6">f</div>
    </div>
</div>

<div class="container">
    <div class="well well-lg">
        <a href="#" class="">Dutch Baby</a>
        <span class="badge">Eggs</span>
        <span class="badge">Flour</span>
        <span class="badge">Buttermilk</span>
    </div>
</div>
<div class="container">
    <div class="well well-lg">
        <a href="#" class="">Salmon in Lemon Juice</a>
        <span class="badge">Salmon</span>
        <span class="badge">Lemon</span>
        <span class="badge">Dill</span>
    </div>
</div>
<div class="container">
    <div class="well well-lg">
        <a href="#" class="">Dutch Baby</a>
        <span class="badge">Salmon</span>
        <span class="badge">Lemon</span>
        <span class="badge">Dill</span>
    </div>
</div>
</body>
</html>









